<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EdxUrl" value="amqp://TODO:5672"/>
    <add key="EdxInboxQueue" value="edx.endpoint.inbox"/>
    <add key="EdxOutboxQueue" value="edx.endpoint.outbox"/>    
    <add key="EdxOutboxReplyQueue" value="edx.endpoint.reply"/>    
    <add key="TimeoutMs" value="1000" />
  </appSettings>
</configuration>